button, input, select, textarea
{
	display: block;
	color: black;
	background-color: SkyBlue;
	padding: var(--padding-a);
	border: 1px solid #F0F0F0;
	border-bottom: 3px solid SteelBlue;
	border-radius: 5px;
	outline: none;
}

textarea
{
    background-color: LightGray;
}

button, input, select
{
	transition: all .5s ease;
}

button:hover, input:hover, select:hover
{
	transition: all .5s ease;
	background-color: MistyRose
}

form button
{
    display: inline-block;
    margin-left: calc(33.33% + 15px);
    width: 33.33%;
    cursor: pointer;
}

button a
{
    color: Black;
    text-decoration: none;
    font-size: var(--control-size);
    width: 100%;
    height: 100%;
}

form label + button, form label + input, form label + select
{
	display: inline-block;
	width: 33.33%;
}

form label + textarea
{
    display: inline-block;
	width: 33.33%;
}

form label
{
    display: inline-block;
    font-size: var(--control-size);
    text-align: right;
    vertical-align: top;
	width: 33.33%;
}

form span, form ul
{
    display: block;
    text-align: center;
    font-size: var(--control-size);
}

form .errorlist
{
    color: red;
}
