{% extends 'theatre/t/base.html' %}
{% load static %}

{% block main %}
<h1>Создатели</h1>
<p>Театр им. Ко Го-То и Е Ще-Ко Го-То объединил оперные театры двух легендарных реформаторов сценического искусства Не Знаю Кого и Кто-То Там. Великих режиссеров не устраивала опера, представляемая как «концерт в костюмах». Они стремились, чтобы оперные спектакли были столь же живыми и содержательными, как спектакли драматические. В 1939 году в состав театра Немировича-Данченко вошла балетная труппа Викторины Кригер. О творческих устремлениях труппы говорит тот факт, что свое первое название труппа получила в честь Художественного театра и называлась «Московский Художественный балет».</p>
<hr>
<h1>Деятельность</h1>
<p>Во все времена музыкальный театр оставался более демократичным, чем бывшие императорские сцены, живым, жизнерадостным, открытым всему новому, и потому всегда пользовался любовью московской интеллигенции, студентов, настоящей театральной публики. Сегодня музыкальный театр – оперно-балетная компания, стремительно движущаяся вперед. Профессионально, честно, талантливо, современно – вот ее принципы.</p>
<p>Музыкальный театр – один из первых режиссерских оперных театров в мире. Здесь, кроме его основателей – Станиславского и Немировича-Данченко – работали Всеволод Мейерхольд, Леонид Баратов и Лев Михайлов, ставили спектакли Вальтер Фельзенштейн, Гарри Купфер, Кристофер Олден и Петер Штайн. Единомышленниками режиссеров были крупнейшие дирижеры – Николай Голованов и Вячеслав Сук, Самуил Самосуд и Дмитрий Китаенко, Евгений Колобов и Геннадий Проваторов, а уже в недавнее время Марк Минковски, Альберто Дзедда, Александр Лазарев и Владимир Юровский. Балетной труппой руководили Николай Холфин, Владимир Бурмейстер и Дмитрий Брянцев, с труппой работали Федор Лопухов, Джон Ноймайер, Начо Дуато, Александр Экман, Анжелен Прельжокаж. Оперная и балетная труппы театра – не только собрание ярких индивидуальностей, но артисты, принимающие эстетическую позицию театра, его художественные идеи.</p>
<hr>
<h1>Театр сегодня</h1>
<div class="boxs">
    <div class="scalable">
        <h1>430</h1>
        <p>Артистов оперы, балета, хора, миманса, и оркестра</p>
    </div>
    <div class="scalable">
        <h1>12</h1>
        <p>Репетиционных залов и вокальных классов</p>
    </div>
    <div class="scalable">
        <h1>250</h1>
        <p>Спектаклей в год</p>
    </div>
</div>
{% endblock %}
