{% extends 'theatre/t/base.html' %}
{% load static %}

{% block css %}
<link type="text/css" href="{% static 'theatre/css/docs.css' %}" rel="stylesheet"/>
{% endblock %}

{% block main %}
<h1>Общая информация</h1>
<div class="pdf-blocks">
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Главные положения о главном</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Главные положения о главном</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Главные положения о главном</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Главные положения о главном</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Главные положения о главном</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Главные положения о главном</p>
            <p>10 MB</p>
        </div>
    </a>
</div>
<hr/>

<h1>Показатели деятельности</h1>
<div class="pdf-blocks">
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Показатели за февраль</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Показатели за февраль</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Показатели за февраль</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Показатели за февраль</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Показатели за февраль</p>
            <p>10 MB</p>
        </div>
    </a>
    <a href="{% static 'theatre/img/pdf.png' %}" class="scalable">
        <img src="{% static 'theatre/img/pdf.png' %}" alt=".pdf">
        <div>
            <p>Показатели за февраль</p>
            <p>10 MB</p>
        </div>
    </a>
</div>
{% endblock %}
