{% extends 'theatre/t/base.html' %}
{% load static %}

{% block main %}
<h1>Правила продажи и возврата билетов</h1>
<p>1.1. Настоящие Правила (далее по тексту – Правила) содержат основные положения продажи билетов, регулируют взаимоотношения физического лица (далее по тексту — Покупателя) и театра осуществляющим организацию и проведение культурно-массовых мероприятий, спектаклей, концертов и других зрелищных представлений и мероприятий (далее по тексту – Мероприятия), на посещение которых реализуются билеты Театром.</p>
<p>1.2. Основные понятия, используемые в настоящих Правилах:</p>
<ul>
    <li>
        <p>Мероприятие – культурно-массовое мероприятие, спектакль, концерт и другие зрелищные представления и мероприятия.</p>
    </li>
    <li>
        <p>Билет – документ по форме, установленной Министерством культуры Российской  Федерации, напечатанный типографским способом, подтверждающий право доступа на мероприятие.</p>
    </li>
    <li>
        <p>Электронный билет – документ по форме, установленной Министерством культуры Российской  Федерации, сформированный в электронном виде, подтверждающий право доступа на мероприятие.</p>
    </li>
    <li>
        <p>Посетитель – физическое лицо, действующее в целях, не связанных с предпринимательской деятельностью, оплатившее Билет/Электронный билет, и имеющее право на посещение Мероприятия.</p>
    </li>
</ul>
<p>1.3. Приобретая Билет/Электронный билет Театра, Посетитель принимает на себя обязательства по соблюдению установленных Правил продажи билетов и посещения Театра.</p>
<p>1.4. В Билетных кассах Театра осуществляется продажа Билетов на бланках, напечатанных типографским способом, на официальном сайте Театра осуществляется продажа Электронного билета. Билет/Электронный билет формируется в автоматизированной информационной билетной системе Театра в соответствии с требованиями, предъявляемыми к билетной информации.</p>
<p>1.5. Билет, напечатанный типографским способом, не дублируется.</p>
<p>1.6. Билет действителен для одного лица, независимо от возраста.</p>
<p>1.7. И так далее</p>
<hr>
<h1>Порядок продажи билетов в кассе театра</h1>
<p>2.1. Посетитель может приобрести Билеты на Мероприятия в билетной кассе Театра, расположенной по адресу: Москва, ул. Большая Дмитровка, д. 17. Кассы работают ежедневно с 14:00 до 19:00 (выходной — вторник). В случае проведения дневного мероприятия Театра, заявленного на 12:00, билетная касса начинает свою работу в 11:00 часов. В случае проведения мероприятия, заявленного позже 19:00, режим работы билетной кассы Театра продлевается до времени начала мероприятия.</p>
<p>2.2. Продажа Билетов в кассах Театра производится за наличный расчет, по дебетовым или кредитным картам VISA, Master Card, Visa Eleсtron, Maestro, МИР, мобильные платежные сервисы (Apple Pay, Google Pay, Samsung Pay) в российских рублях по указанным на Билетах стоимости.</p>
<hr>
<h1>Порядок продажи билетов в кассе театра</h1>
<p>3.1. Порядок возврата Билетов при отмене, замене или переносе Мероприятий по инициативе Театра.</p>
<p>3.2. И так далее</p>
{% endblock %}
